{% extends 'base.html' %}
{% block content %}
        {% for total in stateData.statewise|slice:":1" %}
        <p class="time">{{ total.lastupdatedtime }}</p>
        <div class="row total">
            <div class="col-3 confirmed">
                <p>Confirmed &#128561;</p>
                <span class="plus"><i class="fa fa-angle-double-up"></i> {{ total.deltaconfirmed }}</span><br />
                <span>{{ total.confirmed }}</span>
            </div>
            <div class="col-3 active">
                <p>Active&nbsp; &#128542;</p>
                <span></span><br />
                <span>{{ total.active }}</span>
            </div>
            <div class="col-3 recovered">
                <p>Recovered &#128522;</p>
                <span class="plus"><i class="fa fa-angle-double-up"></i> {{ total.deltarecovered }}</span><br />
                <span>{{ total.recovered }}</span>
            </div>
            <div class="col-3 deceased">
                <p>Deceased &#128557;</p>
                <span class="plus"><i class="fa fa-angle-double-up"></i> {{ total.deltadeaths }}</span><br />
                <span>{{ total.deaths }}</span>
            </div>
        </div>
        {% endfor %}

        <table class="stateTable table table-striped table-borderless table-responsive-sm">
            
            <tr class="head">
                <th>State/UT</th>
                <td>Confirmed</td>
                <td>Active</td>
                <td>Recovered</td>
                <td>Deceased</td>
            </tr>
            {% for state in stateData.statewise|slice:"1:" %}
            {% if state.state != "State Unassigned" %}
            <tr class="body">
                <th id="stateClick"><a href="/district_data?state_name={{ state.state|urlencode }}">{{ state.state }}</a></th>
                <td>
                    {% if state.deltaconfirmed != '0' %}
                    <span style="color:red; margin-right: 15px; font-size: 18px;">
                        <i class="fa fa-angle-double-up"></i>
                        {{ state.deltaconfirmed }}
                    </span>
                    {% endif %}
                    {{ state.confirmed }}
                </td>
                <td>{{ state.active }}</td>
                <td>
                    {% if state.deltarecovered != '0' %}
                    <span style="color:green; margin-right: 15px; font-size: 18px;">
                        <i class="fa fa-angle-double-up"></i>
                        {{ state.deltarecovered }}
                    </span>
                    {% endif %}
                    {{ state.recovered }}
                </td>
                <td>
                    {% if state.deltadeaths != '0' %}
                    <span style="color:gray; margin-right: 15px; font-size: 18px;">
                        <i class="fa fa-angle-double-up"></i>
                        {{ state.deltadeaths }}
                    </span>
                    {% endif %}
                    {{ state.deaths }}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        {% comment %} {% for distzones in zonesData.zones %}
        <p style="color: white;">{{ distzones.district }}</p>
        {% endfor %} {% endcomment %}
{% endblock %}
